# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfstate.d/
*.tfplan
terraform.tfstate
terraform.tfstate.backup
.terraform.lock.hcl
*.tfvars
*.tfvars.json
override.tf
override.tf.json

lambda_function/venv
lambda_code.zip
